body {
  width: 50vw;
  text-align: justify;
  margin: auto;
  background-color: blanchedalmond;
}

h1 {
  font-size: 4vw;
  margin: 2em;
  text-align: center;
  font-weight: bold;
}

#bioParagraph {
  line-height: 1.6;
}

h3 {
  font-size: 2.5vw;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: bold;
}

ul {
  list-style: disc;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: black;
  color: wheat;
  padding: 5px;
}

#interestParagraph {
  line-height: 1.6;
  border: 2px solid black;
  margin: 35px;
  padding: 10px;
}

#topMarvelChar {
  list-style-type: decimal;
  margin-top: 25px;
  margin-bottom: 45px;
  line-height: 1.2;
  margin-left: 20vw;
  margin-right: auto;
}

strong {
  font-weight: bold;
}

.sectionHeading {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 35px;
}

.sublist {
  margin-left: 20px;
  margin-top: 5px;
  list-style: circle;
}

ul li {
  margin-top: 10px;
}

.historyInfo {
  margin-left: 5vw;
}

